




*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
body{
    background-color: #272727;
    text-align:center;
    font-family:sans-serif;
    color:#fff;
    height:100vh;
    
}



.log{

    min-height: 100vh;
    /* padding:50px; */
    padding-top:50px;
    /* margin:50px; */


    

}
.log .container{
    /* content: 'play with me'; */
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	
}
.log .container h1{
    /* padding-top:70px; */
    font-size: 55px;
    font-weight:600;
    margin-bottom:30px;

}
.log .container h1 span{
    font-size:15px;
    font-weight:400;
}
.log .login{
    
    /* display: flex; */
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items :center;
    /* text-align:center; */
    padding-left:10px;
    
    
}
.log .login form{
    flex:0 0 100%;
    max-width:100%;
    align-items :center;
    
    
}
.log .login form input{
    height:50px;
	padding:0px  100px 0px 7px;
	display:block;
    margin-bottom:40px;
    background-color:transparent;
    border:none; 
    overflow:none;
    border-bottom:3px solid #fff;
    outline:none;
    color:#fff;
    font-size:15px;
    font-weight:500;
}
.log .login form div {
    position: relative;
}
.log .login form div label{
    position: absolute;
    font-size:15px;
    font-weight:600;
    top:10px;
    left:0;
    color:#fff;
    transition:.5s;
    pointer-events: none;


}
.log .login form input:focus ~ label, 
.log .login form input:valid ~ label{
    top:-12px;
    left:0;
    color:#fff;
    font-size:12px;
    font-weight:bold;

}
.log .login form input:focus,
.log .login form input:valid{
    border-bottom:3px solid #9236f7;
}






.log .login form button{
    height:45px;
	padding:0px  15px 0px 7px;
	display:block;
    margin-top:80px;
   
    background-color:transparent;
    border:none; 
    overflow:none;
    border:2px solid #fff;
    
    color:#fff;
    font-size:16px;
    font-weight:600;
    width:300px;
    margin-bottom:80px ;
    /* border-radius:3%; */
    outline:none;
    transition:all .5s ease;
    cursor:pointer;
}
.log .login form button:hover{
    background-color: #9236f7;
    color:#fff;
    border:2px solid #9236f7;
}

/* .log .login form input{
    transition:all .5s ease;
    
}
.log .login form input :hover{
    transform: translateY(45deg);
} */

.log .text h6 a{
    font-size:12px;
    font-weight:600;
    padding-bottom: 60px;
    color:#838383;
}
.log .text h5{
    font-size:12px;
    font-weight:600;
    margin-bottom:5px;
    color:#838383;
}
.log .text h4{
    font-size:12px;
    font-weight:600;
    margin-bottom:10px;
    color:#838383;
}
/* .log .text h6 a{
    font-size:13px;
    font-weight:600; 
    margin-bottom:30px;
    color:#838383;
}  */
/* .log .text h4{
    font-size:15px;
    font-weight:600;
    margin-bottom:10px;
    color:#838383;
}  */
.log .text h4 a{
    /* text-decoration:none; */
    color:#838383;
    font-weight:600;

}



/* reisponsive */

/* @media(max-height:991px){
    .log .container h1 {
        font-size: 35px;
        font-weight: 600;
    }

}
@media(max-height:770px){

    .log .container h1 {
        font-size: 35px;
        font-weight: 600;
    }

} */